mini-project/n8n/Full CCTV.json
{
  "name": "mini-project",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ดึงข้อมูลการเตรียมคำสั่งสอบถาม\nconst queryData = $('Prepare Gate Query').first().json;\nconst records = $input.all();\n\n// สร้างข้อมูลจัดกลุ่ม\nconst grouped = {};\nqueryData.cameraIds.forEach(cid =\u003E {\n  grouped[cid] = {\n    gate_id: queryData.gateId,\n    camera_id: cid,\n    start: queryData.start,\n    stop: queryData.stop,\n    details: {}\n  };\n  \n  // กำหนดค่าทั้งหมดเป็น 0\n  queryData.vehicleTypeIds.forEach(vtid =\u003E {\n    queryData.directionTypeIds.forEach(dtid =\u003E {\n      const key = `${vtid}-${dtid}`;\n      grouped[cid].details[key] = {\n        vehicle_type_id: vtid,\n        vehicle_type_name: queryData.vehicleTypeMap[vtid],\n        direction_type_id: dtid,\n        direction_type_name: queryData.directionTypeMap[dtid],\n        count: 0\n      };\n    });\n  });\n});\n\n// เติมข้อมูลจริงจากระเบียน\nrecords.forEach(record =\u003E {\n  const row = record.json;\n  const cid = row.camera_id;\n  const vtid = row.vehicle_type_id;\n  const dtid = row.direction_type_id;\n  const key = `${vtid}-${dtid}`;\n  \n  if (grouped[cid] && grouped[cid].details[key]) {\n    grouped[cid].details[key].count = parseInt(row.count);\n  }\n});\n\n// แปลงเป็นรูปแบบสุดท้าย\nconst data = [];\nObject.values(grouped).forEach(cam =\u003E {\n  cam.details = Object.values(cam.details);\n  data.push(cam);\n});\n\nreturn { data: data };"
      },
      "id": "70e040f0-575d-4344-bfa4-1c568147e704",
      "name": "Format Gate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1296, 0]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [32, 192],
      "id": "a285510c-7fb3-4ad8-b1e0-c6482a9b3b41",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "45e28d32-1dfd-4b60-bb29-f9de84fb34cb",
      "name": "Respond to Client",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1504, 192],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {

        }
      },
      "id": "f1137f8f-52ad-44fe-a71f-ae2f3bebc686",
      "name": "Execute Gate Query",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1056, 0],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ดึงข้อมูลจากโหนดก่อนหน้า\nconst combinedData = $('รวมข้อมูลประเภท').first().json;\nconst cameras = $('Get Cameras in Gate').all();\n\n// ดึงรหัสกล้องทั้งหมดใน gate นั้น\nconst cameraIds = cameras.map(c =\u003E c.json.id);\n\n// ถ้าไม่พบกล้องใดเลย\nif (cameraIds.length === 0) {\n  return [{ json: { data: [] } }];\n}\n\n// เตรียมค่าเริ่มและสิ้นสุดเวลา\nconst start = combinedData.start + ' 00:00:00';\nconst stop = combinedData.stop + ' 23:59:59';\n\n// สร้างคำสั่ง SQL แบบแปะค่าลงไปตรง ๆ\nconst sql = `SELECT camera_id, vehicle_type_id, direction_type_id, SUM(count) as count\n             FROM DetectionRecord\n             WHERE camera_id IN (${cameraIds.join(',')}) AND time BETWEEN '${start}' AND '${stop}'\n             GROUP BY camera_id, vehicle_type_id, direction_type_id`;\n\n// ส่งข้อมูลที่ต้องใช้ต่อไปยัง Node ถัดไป\nreturn {\n  sql: sql,\n  vehicleTypeMap: combinedData.vehicleTypeMap,\n  directionTypeMap: combinedData.directionTypeMap,\n  vehicleTypeIds: combinedData.vehicleTypeIds,\n  directionTypeIds: combinedData.directionTypeIds,\n  cameraIds: cameraIds,\n  gateId: combinedData.id,\n  start: combinedData.start,\n  stop: combinedData.stop\n};\n"
      },
      "id": "2ce1d6e1-21bf-4d67-89c1-064a37ee29b0",
      "name": "Prepare Gate Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM Camera WHERE gate_id = {{ $json.id }};",
        "options": {

        }
      },
      "id": "75665f96-5e0e-44bf-b7d2-3b1c1b084d03",
      "name": "Get Cameras in Gate",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [624, 0],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-gate",
              "leftValue": "={{ $json.type}}",
              "rightValue": "gate",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {

        }
      },
      "id": "b09b1dc2-3de0-45e9-94aa-4756dd972f84",
      "name": "Check Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [432, 192]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name FROM DirectionType;",
        "options": {

        }
      },
      "id": "2aacbfcc-eb44-40d7-94df-f5cfb82ca77b",
      "name": "Get DirectionTypes",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-176, 320],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name FROM VehicleType;",
        "options": {

        }
      },
      "id": "2e77cc82-bdfe-43cf-bc06-a44affd91d64",
      "name": "Get VehicleTypes",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [-176, 0],
      "alwaysOutputData": false,
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// แยกพารามิเตอร์จาก URL\nconst uri = $input.first().json.params.path;\nconst fullUrl = $input.first().json.headers.referer || $input.first().json.query;\n\n// ดึงค่าพารามิเตอร์จาก query string\nconst queryParams = $input.first().json.query;\nconst type = queryParams.type; // 'gate' หรือ 'camera'\nconst id = parseInt(queryParams.id);\nconst start = queryParams.start;\nconst stop = queryParams.stop;\n\n// ตรวจสอบความถูกต้องของพารามิเตอร์\nif (!type || !id || !start || !stop) {\n  throw new Error('พารามิเตอร์ไม่ถูกต้อง ต้องระบุ: type, id, start, stop');\n}\n\nif (type !== 'gate' && type !== 'camera') {\n  throw new Error('type ต้องเป็น \"gate\" หรือ \"camera\" เท่านั้น');\n}\nif (!['gate', 'camera'].includes(type)) {\n  throw new Error('type ต้องเป็น \"gate\" หรือ \"camera\" เท่านั้น');\n}\nif (isNaN(id)) {\n  throw new Error('id ต้องเป็นตัวเลข');\n}\n\nreturn {\n  type: type,\n  id: id,\n  start: start + ' 00:00:00',\n  stop: stop + ' 23:59:59',\n};"
      },
      "id": "b9d72247-71e0-403c-8c30-cb570758d237",
      "name": "แยกพารามิเตอร์",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-384, 160]
    },
    {
      "parameters": {
        "path": "vehicle_count/all",
        "responseMode": "responseNode",
        "options": {

        }
      },
      "id": "b5776085-4cbe-4747-980a-152ea79a619e",
      "name": "รับคำขอจาก Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-592, 160],
      "webhookId": "vehicle-count-all"
    },
    {
      "parameters": {
        "jsCode": "// ตรวจสอบ input\nconst body = $json.body;\n\nif (!body || !body.vehicle_type || !body.direction || !body.count || !body.token || !body.camera_id) {\n  throw new Error('Invalid input - missing required fields');\n}\n\nreturn { \n  vehicle_type: body.vehicle_type,\n  direction: body.direction,\n  count: body.count,\n  token: body.token,\n  camera_id: body.camera_id\n};"
      },
      "id": "255261b6-930c-423c-947f-01ef54094bfd",
      "name": "ตรวจสอบ Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-384, 912]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as vehicle_type_id FROM VehicleType WHERE name = '{{ $json.vehicle_type }}';",
        "options": {

        }
      },
      "id": "dc66c7f0-fffe-4142-907e-bdb02131fec6",
      "name": "หา VehicleType",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [-80, 624],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as direction_type_id FROM DirectionType WHERE name = '{{ $json.direction }}';",
        "options": {

        }
      },
      "id": "1342fadd-dd26-4783-9375-68addb58dcff",
      "name": "หา DirectionType",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [-80, 832],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as edge_device_id FROM EdgeDevice WHERE token = '{{ $json.token }}';",
        "options": {

        }
      },
      "id": "422ee2e2-2e01-44fd-97bd-4963331d0276",
      "name": "หา EdgeDevice",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [-80, 1008],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as camera_id FROM Camera WHERE id = {{ $json.camera_id }};",
        "options": {

        }
      },
      "id": "317d8bbd-8b96-4abd-96b3-3baee4d2613d",
      "name": "หา Camera",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [-80, 1184],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รวมข้อมูลจากทุก node โดยใช้ชื่อ node\nconst originalData = $(\"ตรวจสอบ Input\").first().json; \nconst vehicleTypeData = $(\"หา VehicleType\").first().json; \nconst directionTypeData = $(\"หา DirectionType\").first().json; \nconst edgeDeviceData = $(\"หา EdgeDevice\").first().json;\nconst cameraData = $(\"หา Camera\").first().json;\n\n// ตรวจสอบข้อมูลพื้นฐาน\nif (!originalData) {\n  throw new Error('Missing original data from validate-input');\n}\n\n// ตรวจสอบข้อมูลแต่ละประเภท\nif (!vehicleTypeData || vehicleTypeData.length === 0) {\n  throw new Error(`Invalid vehicle type: ${originalData.vehicle_type}`);\n}\n\nif (!directionTypeData || directionTypeData.length === 0) {\n  throw new Error(`Invalid direction: ${originalData.direction}`);\n}\n\nif (!edgeDeviceData || edgeDeviceData.length === 0) {\n  throw new Error('Invalid or missing device token');\n}\n\nif (!cameraData || cameraData.length === 0) {\n  throw new Error(`Invalid camera_id: ${originalData.camera_id}`);\n}\n\n// ส่งข้อมูลที่ต้องการสำหรับ insert\nreturn {\n  edge_device_id: edgeDeviceData.edge_device_id,\n  camera_id: cameraData.camera_id,\n  vehicle_type_id: vehicleTypeData.vehicle_type_id,\n  direction_type_id: directionTypeData.direction_type_id,\n  count: originalData.count\n};"
      },
      "id": "134366a9-526b-4b42-9440-7930ca3b514f",
      "name": "รวมข้อมูล",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [368, 912]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO DetectionRecord (edge_device_id, camera_id, vehicle_type_id, direction_type_id, count, time) VALUES ({{ $json.edge_device_id }}, {{ $json.camera_id }}, {{ $json.vehicle_type_id }}, {{ $json.direction_type_id }}, {{ $json.count }}, NOW());",
        "options": {

        }
      },
      "id": "75dd1774-ed72-4b44-a3cc-229d90d2faa2",
      "name": "บันทึกข้อมูล",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [544, 912],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3473c4a0-ffd8-451c-a59a-e705cff3fd27",
      "name": "ส่งผลลัพธ์สำเร็จ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [704, 912]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vehicle_count",
        "responseMode": "responseNode",
        "options": {

        }
      },
      "id": "de6c65df-1d8d-4f9f-9391-d1124f283af4",
      "name": "POST /vehicle_count1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-592, 912],
      "webhookId": "3382a370-7878-4512-bd35-db9ecc909d87"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [192, 880],
      "id": "16912d4e-1506-45e2-975b-9506b51a8b63",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// ดึงข้อมูลจากโหนดก่อนหน้า\nconst params = $('รวมข้อมูลประเภท').first().json;\nconst gateData = $('Get Camera ID').first().json;\n\n// แปลงวันที่เป็น TIMESTAMP\nconst startDateTime = params.start + ' 00:00:00';\nconst stopDateTime = params.stop + ' 23:59:59';\n\n// สร้างคำสั่ง SQL สำหรับกล้อง\nconst sql = `SELECT vehicle_type_id, direction_type_id, SUM(count) as count\n             FROM DetectionRecord\n             WHERE camera_id = ${params.id} AND time BETWEEN '${startDateTime}' AND '${stopDateTime}'\n             GROUP BY vehicle_type_id, direction_type_id`;\n\nreturn {\n  sql,\n  vehicleTypeMap: params.vehicleTypeMap,\n  directionTypeMap: params.directionTypeMap,\n  vehicleTypeIds: params.vehicleTypeIds,\n  directionTypeIds: params.directionTypeIds,\n  cameraId: params.id,\n  gateId: gateData.gate_id,\n  start: params.start,\n  stop: params.stop\n};"
      },
      "id": "6388b26f-fb4b-44b8-9c36-097b2b559c48",
      "name": "Prepare Camera Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [848, 352]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {

        }
      },
      "id": "b836f22a-339c-436e-ba90-7fb612791bd9",
      "name": "Execute Camera Query",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [1056, 352],
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ดึงข้อมูลพารามิเตอร์ (จาก Node ที่เตรียมข้อมูล)\nconst queryData = $('Prepare Camera Query').first().json;  // หรือใช้ชื่อ Node ที่ถูกต้องจริง\n\nconst records = $input.all();\n\n// สร้างรายละเอียดด้วยค่าทั้งหมด\nconst details = {};\nqueryData.vehicleTypeIds.forEach(vtid =\u003E {\n  queryData.directionTypeIds.forEach(dtid =\u003E {\n    const key = `${vtid}-${dtid}`;\n    details[key] = {\n      vehicle_type_id: vtid,\n      vehicle_type_name: queryData.vehicleTypeMap[vtid],\n      direction_type_id: dtid,\n      direction_type_name: queryData.directionTypeMap[dtid],\n      count: 0\n    };\n  });\n});\n\n// เติมข้อมูลจริงจากระเบียน\nrecords.forEach(record =\u003E {\n  const row = record.json;\n  const vtid = row.vehicle_type_id;\n  const dtid = row.direction_type_id;\n  const key = `${vtid}-${dtid}`;\n  \n  if (details[key]) {\n    details[key].count = parseInt(row.count);\n  }\n});\n\n// สร้างการตอบสนองสุดท้าย\nconst data = [{\n  gate_id: queryData.gateId,\n  camera_id: queryData.cameraId,\n  start: queryData.start,\n  stop: queryData.stop,\n  details: Object.values(details)\n}];\n\nreturn { data };\n"
      },
      "id": "2cb50b86-b1a9-45d0-8e1c-c3294a1ca1ff",
      "name": "Format Camera Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1296, 352]
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูล input หลัก\nconst inputData = $input.first();\nconst inputJson = inputData?.json ?? {};\n\n// เตรียม Map\nconst vehicleTypeMap = {};\nconst vehicleTypeIds = [];\nconst directionTypeMap = {};\nconst directionTypeIds = [];\n\n// รับ VehicleTypes\nif ($('Get VehicleTypes')) {\n  $('Get VehicleTypes').all().forEach(vt =\u003E {\n    if (!(vt.json.id in vehicleTypeMap)) {\n      vehicleTypeMap[vt.json.id] = vt.json.name;\n      vehicleTypeIds.push(vt.json.id);\n    }\n  });\n}\n\n// รับ DirectionTypes\nif ($('Get DirectionTypes')) {\n  $('Get DirectionTypes').all().forEach(dt =\u003E {\n    if (!(dt.json.id in directionTypeMap)) {\n      directionTypeMap[dt.json.id] = dt.json.name;\n      directionTypeIds.push(dt.json.id);\n    }\n  });\n}\n\n// คืนค่าครบ\nreturn {\n  ...inputJson,\n  vehicleTypeMap,\n  directionTypeMap,\n  vehicleTypeIds,\n  directionTypeIds,\n};\n"
      },
      "id": "293a944b-c9dc-4410-b372-021e22987e26",
      "name": "รวมข้อมูลประเภท",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 208]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT gate_id FROM Camera WHERE id = {{ $json.id }};",
        "options": {

        }
      },
      "id": "f8d6a54c-3a30-4411-8b31-fc62e4e10259",
      "name": "Get Camera ID",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [624, 352],
      "credentials": {
        "mySql": {
          "id": "ZIBHThjC92iWkMch",
          "name": "MySQL"
        }
      }
    }
  ],
  "pinData": {

  },
  "connections": {
    "Format Gate Response": {
      "main": [
        [
          {
            "node": "Respond to Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "รวมข้อมูลประเภท",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Gate Query": {
      "main": [
        [
          {
            "node": "Format Gate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gate Query": {
      "main": [
        [
          {
            "node": "Execute Gate Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cameras in Gate": {
      "main": [
        [
          {
            "node": "Prepare Gate Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Type": {
      "main": [
        [
          {
            "node": "Get Cameras in Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Camera ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DirectionTypes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get VehicleTypes": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "แยกพารามิเตอร์": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get VehicleTypes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get DirectionTypes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "รับคำขอจาก Webhook": {
      "main": [
        [
          {
            "node": "แยกพารามิเตอร์",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ตรวจสอบ Input": {
      "main": [
        [
          {
            "node": "หา VehicleType",
            "type": "main",
            "index": 0
          },
          {
            "node": "หา DirectionType",
            "type": "main",
            "index": 0
          },
          {
            "node": "หา EdgeDevice",
            "type": "main",
            "index": 0
          },
          {
            "node": "หา Camera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "หา VehicleType": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "หา DirectionType": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "หา EdgeDevice": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "หา Camera": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "รวมข้อมูล": {
      "main": [
        [
          {
            "node": "บันทึกข้อมูล",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "บันทึกข้อมูล": {
      "main": [
        [
          {
            "node": "ส่งผลลัพธ์สำเร็จ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /vehicle_count1": {
      "main": [
        [
          {
            "node": "ตรวจสอบ Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "รวมข้อมูล",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Camera Query": {
      "main": [
        [
          {
            "node": "Execute Camera Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Camera Query": {
      "main": [
        [
          {
            "node": "Format Camera Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Camera Response": {
      "main": [
        [
          {
            "node": "Respond to Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "รวมข้อมูลประเภท": {
      "main": [
        [
          {
            "node": "Check Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Camera ID": {
      "main": [
        [
          {
            "node": "Prepare Camera Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a3f13cb-9fd7-4f93-a509-a1c9bce3a2b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b88cc5fd85709ffe33d9b31950741e30a799267a90a4d7be0cc43021d42c8434"
  },
  "id": "2MIZVELYMuXZgYQp",
  "tags": []
}