mini-project/n8n/post.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ตรวจสอบ input\nconst body = $json.body;\n\nif (!body || !body.vehicle_type || !body.direction || !body.count || !body.token || !body.camera_id) {\n  throw new Error('Invalid input - missing required fields');\n}\n\nreturn { \n  vehicle_type: body.vehicle_type,\n  direction: body.direction,\n  count: body.count,\n  token: body.token,\n  camera_id: body.camera_id\n};"
      },
      "id": "aaa2edff-5f9b-484e-a67b-a959acbf1461",
      "name": "ตรวจสอบ Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as vehicle_type_id FROM VehicleType WHERE name = '{{ $json.vehicle_type }}';",
        "options": {}
      },
      "id": "e4a17967-7992-4ab8-95a6-2f3b9ef9b998",
      "name": "หา VehicleType",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        20,
        740
      ],
      "credentials": {
        "mySql": {
          "id": "okohZFqM4p0R1Z4O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as direction_type_id FROM DirectionType WHERE name = '{{ $json.direction }}';",
        "options": {}
      },
      "id": "d2775ab2-5d7e-4e05-adf7-459fe180c775",
      "name": "หา DirectionType",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        20,
        940
      ],
      "credentials": {
        "mySql": {
          "id": "okohZFqM4p0R1Z4O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as edge_device_id FROM EdgeDevice WHERE token = '{{ $json.token }}';",
        "options": {}
      },
      "id": "03e5fea7-b62a-4284-ac95-4305b3e708da",
      "name": "หา EdgeDevice",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        20,
        1120
      ],
      "credentials": {
        "mySql": {
          "id": "okohZFqM4p0R1Z4O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as camera_id FROM Camera WHERE id = {{ $json.camera_id }};",
        "options": {}
      },
      "id": "5f73c85d-31a0-47b4-a4d0-98536bfd67db",
      "name": "หา Camera",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        20,
        1300
      ],
      "credentials": {
        "mySql": {
          "id": "okohZFqM4p0R1Z4O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รวมข้อมูลจากทุก node โดยใช้ชื่อ node\nconst originalData = $(\"ตรวจสอบ Input\").first().json; \nconst vehicleTypeData = $(\"หา VehicleType\").first().json; \nconst directionTypeData = $(\"หา DirectionType\").first().json; \nconst edgeDeviceData = $(\"หา EdgeDevice\").first().json;\nconst cameraData = $(\"หา Camera\").first().json;\n\n// ตรวจสอบข้อมูลพื้นฐาน\nif (!originalData) {\n  throw new Error('Missing original data from validate-input');\n}\n\n// ตรวจสอบข้อมูลแต่ละประเภท\nif (!vehicleTypeData || vehicleTypeData.length === 0) {\n  throw new Error(`Invalid vehicle type: ${originalData.vehicle_type}`);\n}\n\nif (!directionTypeData || directionTypeData.length === 0) {\n  throw new Error(`Invalid direction: ${originalData.direction}`);\n}\n\nif (!edgeDeviceData || edgeDeviceData.length === 0) {\n  throw new Error('Invalid or missing device token');\n}\n\nif (!cameraData || cameraData.length === 0) {\n  throw new Error(`Invalid camera_id: ${originalData.camera_id}`);\n}\n\n// ส่งข้อมูลที่ต้องการสำหรับ insert\nreturn {\n  edge_device_id: edgeDeviceData.edge_device_id,\n  camera_id: cameraData.camera_id,\n  vehicle_type_id: vehicleTypeData.vehicle_type_id,\n  direction_type_id: directionTypeData.direction_type_id,\n  count: originalData.count\n};"
      },
      "id": "fa59ee7a-a661-4b43-83bf-d9bc379b7f19",
      "name": "รวมข้อมูล",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO DetectionRecord (edge_device_id, camera_id, vehicle_type_id, direction_type_id, count, time) VALUES ({{ $json.edge_device_id }}, {{ $json.camera_id }}, {{ $json.vehicle_type_id }}, {{ $json.direction_type_id }}, {{ $json.count }}, NOW());",
        "options": {}
      },
      "id": "5a3f570e-24ab-418d-a7ed-a0d4cbeacf72",
      "name": "บันทึกข้อมูล",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [
        640,
        1020
      ],
      "credentials": {
        "mySql": {
          "id": "okohZFqM4p0R1Z4O",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f62cf432-aedb-40fb-ac28-0bdc6c6a3b00",
      "name": "ส่งผลลัพธ์สำเร็จ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        1020
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vehicle_count",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7b0e7549-1811-4c2b-aa5c-f22d8a741494",
      "name": "POST /vehicle_count1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -500,
        1020
      ],
      "webhookId": "3382a370-7878-4512-bd35-db9ecc909d87"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        280,
        1000
      ],
      "id": "fbc9fde5-1fcb-47f4-a52e-fd355a50e51d",
      "name": "Merge1"
    }
  ],
  "connections": {
    "ตรวจสอบ Input": {
      "main": [
        [
          {
            "node": "หา VehicleType",
            "type": "main",
            "index": 0
          },
          {
            "node": "หา DirectionType",
            "type": "main",
            "index": 0
          },
          {
            "node": "หา EdgeDevice",
            "type": "main",
            "index": 0
          },
          {
            "node": "หา Camera",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "หา VehicleType": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "หา DirectionType": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "หา EdgeDevice": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "หา Camera": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "รวมข้อมูล": {
      "main": [
        [
          {
            "node": "บันทึกข้อมูล",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "บันทึกข้อมูล": {
      "main": [
        [
          {
            "node": "ส่งผลลัพธ์สำเร็จ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /vehicle_count1": {
      "main": [
        [
          {
            "node": "ตรวจสอบ Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "รวมข้อมูล",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a839bafd58d79510da4d82085b815701590572d2080e9fbd737555bd0708cbb4"
  }
}