lab4/Lab_4_1.json
{
  "name": "Lab 4-1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "menber",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "7ebc1763-27e4-430a-8581-adb26c6fe503",
      "name": "Webhook",
      "webhookId": "871c927a-adb0-4e21-97de-3cdf5bf8d346"
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{ $now.toMillis() }}.{{ $('Webhook').item.binary.file.fileExtension }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1aVtMw7fAI06KHWvlmh-jxoy-42dpGyjT",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aVtMw7fAI06KHWvlmh-jxoy-42dpGyjT"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "6b88d59d-e207-4ad2-8980-d1a043bc081e",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cj2IPR7KbjBrBI63",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "  SELECT url,file_name FROM member WHERE email = '{{ $('Webhook').item.json.body.email }}'",
        "options": {
          "detailedOutput": true
        }
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        440,
        0
      ],
      "id": "a78d07c6-5451-468b-80aa-f0d5e77e3963",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "sRVVAMSXRSFeK5Er",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da54a267-add4-443d-8d7b-f57dc642c402",
              "leftValue": "={{ $json.data[0].flie_name}}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        0
      ],
      "id": "16d8766b-19a5-465a-b4c1-9abd14e76fc6",
      "name": "If"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "member",
          "mode": "list",
          "cachedResultName": "member"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('Webhook').item.json.body.name }}"
            },
            {
              "column": "email",
              "value": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "column": "url",
              "value": "={{ $('Google Drive').item.json.webContentLink }}"
            },
            {
              "column": "file_name",
              "value": "={{ $('Google Drive').item.json.name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        880,
        -100
      ],
      "id": "c3da5ad3-77dc-4232-a12d-37782dae2dc4",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "sRVVAMSXRSFeK5Er",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"err\":  \"{{ $json.email }} already exist\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        880,
        100
      ],
      "id": "af8f443a-28e2-44d3-919a-2e682e180c00",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive').item.json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1100,
        0
      ],
      "id": "e3423c5d-8c46-4973-96d8-f0dc7c3e3bab",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cj2IPR7KbjBrBI63",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1300,
        -140
      ],
      "id": "7c659a32-a2de-453a-8fe2-7543a33aa1a0",
      "name": "When chat message received",
      "webhookId": "df061d55-6d75-4338-b7bc-e96d6cf3fac6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1520,
        -40
      ],
      "id": "6295e10d-2359-4d76-8e7d-05705fc3a3c1",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "var result;\n\nif ($input.first().json.chatInput) {\n  result = \"ขอคำสั่ง SQL ค้นหา\" +  $input.first().json.chatInput +\"ในฟิสด์ eamil,name,url,file_name ของตาราง member \" ;\n} else {\n  result = \"ภาพนี้\"+ $input.first().json.data[0].url +\"คือภาพอะไร\";\n}\n\nreturn [\n  {\n    json: {\n      promt: result \n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        -40
      ],
      "id": "0b2b80fd-004a-4b7a-9188-0c17b6b7d042",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.promt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1960,
        -40
      ],
      "id": "0352278c-c51a-4a51-89a5-8aa60117e662",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1880,
        200
      ],
      "id": "86581ff4-7584-4fdc-83b6-d49aff37618c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kqQECQ7qzvwudIjD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_statement') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        2180,
        280
      ],
      "id": "3ec01844-d173-47e2-ab1d-ca9ec2c59e43",
      "name": "MySQL2",
      "credentials": {
        "mySql": {
          "id": "sRVVAMSXRSFeK5Er",
          "name": "MySQL account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "922bbc04-3276-4ab3-b3cf-4b5ce82f7663",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a839bafd58d79510da4d82085b815701590572d2080e9fbd737555bd0708cbb4"
  },
  "id": "5jaYrkQIsafvm4Gf",
  "tags": []
}